.main_banner {
    padding-top: 80px;
    padding-bottom: 80px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.4);
    }
    .row {
        position: relative;
        .banner_content {
            padding-right: 100px;
            h5 {
                font-size: 40px;
                line-height: 55px;
                text-transform: capitalize;
                font-weight: 700;
                border-left: 4px solid #FFA500;
                padding-left: 20px;
                color: #fff;
            }
        }
    }
    
    // .carousel-caption {
    //     position: absolute;
    //     right: auto;
    //     bottom: auto;
    //     left: 15%;
    //     padding-top: 1.25rem;
    //     padding-bottom: 1.25rem;
    //     color: #fff;
    //     text-align: left;
    //     top: 32%;
    //     width: 40%;
    //     h5 {
    //         font-size: 40px;
    //         line-height: 55px;
    //         text-transform: capitalize;
    //         font-weight: 700;
    //         border-left: 4px solid #FFA500;
    //         padding-left: 20px;
    //     }
    // }
    // .carousel-item {
    //     height: 615px;
    //     &::before {
    //         content: "";
    //         position: absolute;
    //         background-color: rgba(0, 0, 0, 0.4);
    //         width: 100%;
    //         height: 100%;
    //         top: 0;
    //         left: 0;
    //         right: 0;
    //     }
    //     img {
    //         height: 615px;
    //         object-fit: cover;
    //     }
    // }
    // .banner_form {
    //     position: absolute;
    //     top: 70px;
    //     right: 14%;
    //     width: 25%;
    // }
}