.main_banner {
    position: relative;
    .carousel-item {
        height: 615px;
        img {
            height: 615px;
            object-fit: cover;
        }
    }
    .banner_form {
        position: absolute;
        top: 100px;
        right: 120px;
        width: 25%;
    }
}