.cta_section {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding-top: 40px;
    padding-bottom: 40px;
    h4 {
        font-size: 25px;
        list-style: 35px;
        margin-bottom: 0px;
    }
}